<!DOCTYPE html>
<html lang="en">
  
<!-- Mirrored from themes.rokaux.com/unishop/v3.2.1/template-1/account-profile.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 11 May 2020 17:57:11 GMT -->
<head>
    <meta charset="utf-8">
    <title> User Profile
    </title>
    <!-- SEO Meta Tags-->
    <meta name="description" content="Unishop - Universal E-Commerce Template">
    <meta name="keywords" content="shop, e-commerce, modern, flat style, responsive, online store, business, mobile, blog, bootstrap 4, html5, css3, jquery, js, gallery, slider, touch, creative, clean">
    <meta name="author" content="Rokaux">
    <!-- Mobile Specific Meta Tag-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Favicon and Apple Icons-->
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="icon" type="image/png" href="favicon.png">
    <link rel="apple-touch-icon" href="touch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="152x152" href="touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="180x180" href="touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="167x167" href="touch-icon-ipad-retina.png">
    <!-- Vendor Styles including: Bootstrap, Font Icons, Plugins, etc.-->
    <link rel="stylesheet" media="screen" href="/css/vendor.min.css">
    <!-- Main Template Styles-->
    <link id="mainStyles" rel="stylesheet" media="screen" href="/css/styles.min.css">
    
    <!-- Modernizr-->
    <script src="/js/modernizr.min.js"></script>
  </head>
  <!-- Body-->
  <body>
    <!-- Off-Canvas Nav Menu-->
    <div class="offcanvas-container" id="shop-categories">
      <div class="container-fluid p-0">
        <a class="account-link" href="/account">
          <div class="user-ava"><img src="/img/account/user-ava-md.jpg" alt=" User ">
          </div>
          <div class="user-info">
            <h6 class="user-name"> <%= User.firstname + " " + User.lastname %> </h6><span class="text-sm text-white"> <%= User.userType %> </span>
          </div>
        </a>
      </div>
      <nav class="offcanvas-menu">
        <ul class="menu">          
          <li class="has-children"><span><a href="/account">My Account</a><span class="sub-menu-toggle"></span></span>
            <ul class="offcanvas-submenu">
              <li><a href="/account">Profile Details</a></li>
              <li><a href="/account/address">Address</a></li>
            </ul>
          </li>
          <li ><span><a href="#">My Favourite Shops</a><span class="sub-menu-toggle"></span></span>
            
          </li>
          <li><span><a href="/dashboard/<%=User.firstname + User.lastname%>/cart">My Cart History</a><span class="sub-menu-toggle"></span></span>
            
          </li>
        </ul>
      </nav>
      <div class="offcanvas-header">
        <h3 class="offcanvas-title">Quick Links</h3>
      </div>
      <nav class="offcanvas-menu">
        <ul class="menu">
          <li class="has-children"><span><a href="#">FAQs</a><span class="sub-menu-toggle"></span></span>
            <ul class="offcanvas-submenu">
              <li><a href="#">Question 1</a></li>
              <li><a href="#">Question 1</a></li>
              <li><a href="#">Question 1</a></li>
              <li><a href="#">Question 1</a></li>
              <li><a href="#">Question 1</a></li>
            </ul>
          </li>
          <li><span><a href="#">Contact Us</a><span class="sub-menu-toggle"></span></span>            
          </li>         
        </ul>
      </nav>
    </div>
    <!-- Off-Canvas Mobile Menu-->
    <div class="offcanvas-container" id="mobile-menu">
      <a class="account-link" href="/account">
        <div class="user-ava"><img src="img/account/user-ava-md.jpg" alt=" User ">
        </div>
        <div class="user-info">
          <h6 class="user-name"> <%= User.firstname + " " + User.lastname %> </h6><span class="text-sm text-white opacity-60"> <%= User.userType %> </span>
        </div>
      </a>
      <nav class="offcanvas-menu">
        <ul class="menu">          
          <li class="has-children"><span><a href="/account">My Account</a><span class="sub-menu-toggle"></span></span>
            <ul class="offcanvas-submenu">
              <li><a href="/account">Profile Details</a></li>
              <li><a href="/account/address">Address</a></li>
            </ul>
          </li>
          <li ><span><a href="#">My Favourite Shops</a><span class="sub-menu-toggle"></span></span>
            
          </li>
          <li><span><a href="/dashboard/<%=User.firstname + User.lastname%>/cart">My Cart History</a><span class="sub-menu-toggle"></span></span>
            
          </li>
        </ul>
      </nav>
      <div class="offcanvas-header">
        <h3 class="offcanvas-title">Quick Links</h3>
      </div>
      <nav class="offcanvas-menu">
        <ul class="menu">
          <li class="has-children"><span><a href="#">FAQs</a><span class="sub-menu-toggle"></span></span>
            <ul class="offcanvas-submenu">
              <li><a href="#">Question 1</a></li>
              <li><a href="#">Question 1</a></li>
              <li><a href="#">Question 1</a></li>
              <li><a href="#">Question 1</a></li>
              <li><a href="#">Question 1</a></li>
            </ul>
          </li>
          <li><span><a href="#">Contact Us</a><span class="sub-menu-toggle"></span></span>            
          </li>         
        </ul>
      </nav>
    </div>
    <!-- Navbar-->
    <!-- Remove "navbar-sticky" class to make navigation bar scrollable with the page.-->
    <header class="navbar navbar-sticky fixed-top">
      <!-- Search-->
      <form class="site-search" method="get">
        <input type="text" name="site_search" placeholder="Type to search...">
        <div class="search-tools"><span class="clear-search">Clear</span><span class="close-search"><i class="icon-cross"></i></span></div>
      </form>
      <div class="site-branding">
        <div class="inner">
          <!-- Off-Canvas Toggle (#shop-categories)--><a class="offcanvas-toggle cats-toggle" href="#shop-categories" data-toggle="offcanvas"></a>
          <!-- Off-Canvas Toggle (#mobile-menu)--><a class="offcanvas-toggle menu-toggle" href="#mobile-menu" data-toggle="offcanvas"></a>
          <!-- Site Logo--><a class="site-logo" href="/dashboard"><img src="/img/logo/fabralogo.png" alt="FABRA.COM"></a>
        </div>
      </div>     
      <!-- Toolbar-->
      <div class="toolbar">
        <div class="inner">
          <div class="tools">
            <div class="search"><i class="icon-search"></i></div>
            <div class="account"><a href="/account"></a><img src="/img/account/user-ava-sm.jpg" alt=" User ">
              <ul class="toolbar-dropdown">
                <li class="sub-menu-user">
                  <div class="user-ava"><img src="/img/account/user-ava-sm.jpg" alt=" User ">
                  </div>
                  <div class="user-info">
                    <h6 class="user-name">  </h6><span class="text-xs text-muted"> <%= User.userType %> </span>
                  </div>
                </li>
                  <li><a href="/account">My Profile</a></li>
                  <li><a href="#">Orders List</a></li>
                  <li><a href="#">Wishlist</a></li>
                <li class="sub-menu-separator"></li>
                <li><a href="/users/logout"> <i class="icon-unlock"></i>Logout</a></li>
              </ul>
            </div>
            <div class="cart"><a href="/dashboard/<%=User.firstname + User.lastname%>/cart"></a><i class="icon-bag"></i><span class="count">3</span><span class="subtotal">GHC289.68</span>
              <div class="toolbar-dropdown">
                <div class="dropdown-product-item"><span class="dropdown-product-remove"><i class="icon-cross"></i></span><a class="dropdown-product-thumb" href="#"><img src="img/cart-dropdown/01.jpg" alt="Product"></a>
                  <div class="dropdown-product-info"><a class="dropdown-product-title" href="#">Unionbay Park</a><span class="dropdown-product-details">1 x GHC43.90</span></div>
                </div>
                <div class="dropdown-product-item"><span class="dropdown-product-remove"><i class="icon-cross"></i></span><a class="dropdown-product-thumb" href="#"><img src="img/cart-dropdown/02.jpg" alt="Product"></a>
                  <div class="dropdown-product-info"><a class="dropdown-product-title" href="#">Daily Fabric Cap</a><span class="dropdown-product-details">2 x GHC24.89</span></div>
                </div>
                <div class="dropdown-product-item"><span class="dropdown-product-remove"><i class="icon-cross"></i></span><a class="dropdown-product-thumb" href="#"><img src="img/cart-dropdown/03.jpg" alt="Product"></a>
                  <div class="dropdown-product-info"><a class="dropdown-product-title" href="#">Haan Crossbody</a><span class="dropdown-product-details">1 x GHC200.00</span></div>
                </div>
                <div class="toolbar-dropdown-group">
                  <div class="column"><span class="text-lg">Total:</span></div>
                  <div class="column text-right"><span class="text-lg text-medium">GHC289.68&nbsp;</span></div>
                </div>
                <div class="toolbar-dropdown-group">
                  <div class="column"><a class="btn btn-sm btn-block btn-secondary" href="/dashboard/<%=User.firstname + User.lastname%>/cart">View Cart</a></div>
                  <div class="column"><a class="btn btn-sm btn-block btn-primary" href="#">Checkout</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Off-Canvas Wrapper-->
    <div class="offcanvas-wrapper">
      <!-- Page Title-->
      <div class="page-title">
        <div class="container">
          <div class="column">
            <h1>My Profile</h1>
          </div>
        </div>
      </div>
      <!-- Page Content-->
      <div class="container padding-bottom-3x mb-2">
        <div class="row">
          <div class="col-lg-4">
            <aside class="user-info-wrapper">
              <div class="user-cover" style="background-image: url(/img/account/user-cover-img.jpg);">
                <div class="info-label" data-toggle="tooltip" title="Customer"> <%= User.userType %> </div>
              </div>
              <div class="user-info">
                <div class="user-avatar"><a class="edit-avatar" href="#"></a><img src="/img/account/user-ava.jpg" alt="User"></div>
                <div class="user-data">
                  <h4> <%= User.firstname + " " +  User.lastname %> </h4><span> Joined <%= new Date().getFullYear() %> <!-- WOULD CHANGE THIS LATER -->  </span>
                </div>
              </div>
            </aside>
            <nav class="list-group">
              <a class="list-group-item active" href="/account"><i class="icon-head"></i>Profile</a>
              <a class="list-group-item" href="/account/address"><i class="icon-map"></i>Addresses</a>
            </nav>
          </div>
          <div class="col-lg-8">
            <div class="padding-top-2x mt-2 hidden-lg-up"></div>
			
            <form action="/account" method="POST" class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="account-fn">First Name</label>
                  <input class="form-control" name="firstname" type="text" id="account-fn" value="<%=User.firstname%>" required>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="account-ln">Last Name</label>
                  <input class="form-control" name="lastname" type="text" id="account-ln" value="<%=User.lastname%>" required>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="account-email">E-mail Address</label>
                  <input class="form-control" name="email" type="email" id="account-email" value="<%=User.email%>" disabled>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="account-phone">Phone Number</label>
                  <input class="form-control" name="phone" type="text" id="account-phone" value="<%=User.phone%>" required>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="account-pass">Date of Birth</label>
                  <input class="form-control" name="date" type="date" id="account-date" disabled>
                </div>
              </div>
              <div class="col-12">
                <hr class="mt-2 mb-3">
                <div class="d-flex flex-wrap justify-content-between align-items-center">
                  <a href="account-password-recovery.html">Forgot Password? Click here to reset.</a>
                  <div class="custom-control custom-checkbox d-block">
                    <input class="custom-control-input" type="checkbox" id="subscribe_me" checked>
                    <label class="custom-control-label" for="subscribe_me">Subscribe me to Newsletter</label>
                  </div>
                  <button class="btn btn-primary margin-right-none" type="submit">Update Profile</button>
                </div>
              </div>
            </form>
			
          </div>
        </div>
      </div>
       <!-- Site Footer-->
      <footer class="site-footer">        
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6">
              <!-- Contact Info-->
              <section class="widget widget-light-skin">
                <h3 class="widget-title">Get In Touch With Us</h3>
                <p class="text-white">Phone: 030 123 4567</p>
                <p class="text-white">Email: email@email.com</p>
                <p class="text-white">Address: Somewhere, Ghana</p>
                <h3 class="widget-title">Follow Us</h3>
                <a class="social-button shape-circle sb-facebook sb-light-skin" href="#"><i class="socicon-facebook"></i></a>
                <a class="social-button shape-circle sb-instagram sb-light-skin" href="#"><i class="socicon-instagram"></i></a>
                <a class="social-button shape-circle sb-twitter sb-light-skin" href="#"><i class="socicon-twitter"></i></a>
              </section>
            </div>
            <div class="col-lg-3 col-md-6">
              <!-- About Us-->
              <section class="widget widget-links widget-light-skin">
                <h3 class="widget-title">About Us</h3>
                <ul>
                  <li><a href="#">About FABRA.COM</a></li>
                  <li><a href="#">FAQs</a></li>
                </ul>
              </section>
            </div>
            <div class="col-lg-3 col-md-6">
              <!-- Account / Shipping Info-->
              <section class="widget widget-links widget-light-skin">
                <h3 class="widget-title">Account &amp; Shipping Info</h3>
                <ul>
                  <li><a href="#">Privacy Policy</a></li>
                  <li><a href="#">Shipping Rates &amp; Policies</a></li>
                  <li><a href="#">Refunds &amp; Replacements</a></li>
                  <li><a href="#">Taxes</a></li>
              </section>
            </div>            
            <div class="col-lg-3 col-md-6">
              <!-- Mobile App Buttons-->
              <section class="widget widget-light-skin">
                <h3 class="widget-title">Our Mobile App</h3>
                <p class="display-4 text-white  text-nowrap">Coming Soon!</p>
              </section>
            </div>
          </div>
          <hr class="hr-light mt-2 margin-bottom-2x">
          <div class="row">
            <div class="col-md-7 padding-bottom-1x">
              <!-- Payment Methods-->
              
            </div>
            <div class="col-md-5 padding-bottom-1x">
              <div class="margin-top-1x hidden-md-up"></div>
              <!--Subscription-->
              <form class="subscribe-form" action="http://rokaux.us12.list-manage.com/subscribe/post?u=c7103e2c981361a6639545bd5&amp;amp;id=1194bb7544" method="post" target="_blank" novalidate>
                <div class="clearfix">
                  <div class="input-group input-light">
                    <input class="form-control" type="email" name="EMAIL" placeholder="Your e-mail"><span class="input-group-addon"><i class="icon-mail"></i></span>
                  </div>
                  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div style="position: absolute; left: -5000px;" aria-hidden="true">
                    <input type="text" name="b_c7103e2c981361a6639545bd5_1194bb7544" tabindex="-1">
                  </div>
                  <button class="btn btn-primary" type="submit"><i class="icon-check"></i></button>
                </div><span class="form-text text-sm text-white opacity-50">Subscribe to our Newsletter to receive early discount offers, latest news, sales and promo information.</span>
              </form>
            </div>
          </div>
          <!-- Copyright-->
          <div class="row ">
            <div class="col-12 d-flex justify-content-center flex-column">
              <img class="img-fluid mb-0" src="img/logo/fabralogo-light.png" alt="fabralogo-light" data-at2x="img/logo/fabralogo-light.png" style="width: 240px;">
              <p class="footer-copyright">© 2020 FABRA.COM. All rights reserved.</p>              
            </div>
          </div>
          
        </div>
      </footer>
    <!-- Back To Top Button--><a class="scroll-to-top-btn" href="#"><i class="icon-arrow-up"></i></a>
    <!-- Backdrop-->
    <div class="site-backdrop"></div>
    <!-- JavaScript (jQuery) libraries, plugins and custom scripts-->
    <script src="/js/vendor.min.js"></script>
    <script src="/js/scripts.min.js"></script>
    
  </body>

<!-- Mirrored from themes.rokaux.com/unishop/v3.2.1/template-1/account-profile.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 11 May 2020 17:57:11 GMT -->
</html>